# Compiled output
/dist/

# Logs and databases
*.log
*.sqlite

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# NPM packages
/node_modules

# Editor files
*.swp
*.swo
*.swn
*.swm
*.bak
*.dmp
*.diff
*.patch
*.orig
*.rej
.vscode/

# macOS files
.DS_Store

# Cache files
.cache